/* ----------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer-content {
  margin-top: 20px;
}

/* Make compatible with fixed-to-top navbar */
body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
/* ----------------------------------------------- */
/* Navbar styles
-------------------------------------------------- */

.navbar {
  margin: 0px;
}

.navbar-padding {
  margin: 100px;
}
/* ----------------------------------------------- */
/* About styles
-------------------------------------------------- */

.media-contact {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .media-left {
    display: none;
  }
}
/* ----------------------------------------------- */
/* Announcements/Home styles
-------------------------------------------------- */

/*  styles */

.post-date {
  margin-bottom: 30px;
}

.text-divider {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #bbb;
   line-height: 0.1em;
   margin: 40px 0 40px;
} 

.text-divider span { 
    background:#fff;
    color: #bbb;
    padding:0 10px;
}

.menu-group {
  padding-bottom: 15px;
}

.menu-group .btn {
  font-size: 80%;
}

@media (min-width: 768px) {
  .menu-group {
    display: none;
  }
}
/* ----------------------------------------------- */
/* D&D styles
-------------------------------------------------- */

/* Guild styles */

.panel-arcane {
  background-color: #330066;
  color: #fff;
}

.panel-healer {
  background-color: #006600;
  color: #fff;
}

.panel-thief {
  background-color: #333333;
  color: #fff;
}

.panel-warrior {
  background-color: #003399;
  color: #fff;
}

/* Vault styles */

.table th:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

/* Resources styles */

@media (min-width: 768px) {
  .display-row {
    display: table;
  }
  
  .display-row > div {
    display: table-cell;
    float: none;
    vertical-align: middle;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  .display-row > div:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  }
}

/* Tables styles */

.tables-unavailable {
  margin-top: 40px;
  vertical-align: middle;
  color: #bbb;
  font-weight: bold;
  font-size:18px;
}

/* ----------------------------------------------- */
/* Board game styles
-------------------------------------------------- */

/* Info styles */
/*#board-game-image {
  max-width: 80%;
}*/

/* ----------------------------------------------- */

/* ???? --- */

/*.dropdown-hover-arrow {
  display: none;
}

.dropdown-menu > li:hover .dropdown-hover-arrow {
  display: inline;
}*/