/* http://www.cssmatic.com/box-shadow */

/* ----------------------------------------------- */
/* Font styles
-------------------------------------------------- */

html,
body,
.body-font {
  font-family: 'Sarala', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.lead,
.header-font {
  font-family: 'Quando', serif;
}

.copyright {
  font-family: 'Verdana', serif;
  vertical-align: 1px;
}

/* ----------------------------------------------- */
/* Primary color styles
-------------------------------------------------- */

.primary,
.btn-primary {
  background-color: #801818;
}

.btn-primary {
  border-color: #000;
}

.primary:hover,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active:hover {
  background-color: #ac1010;
}

.list-group-item-primary {
  background-color: #801818;
  color: #fff;
}

.badge.badge-primary {
  color: #801818;
  background-color: #fff;
}

.alert.alert-primary {
  background-color: #801818;
  color: #fff;
}

.alert.alert-primary .alert-link {
  color: #fff;
}

/* ----------------------------------------------- */
/* Navbar styles
-------------------------------------------------- */

.navbar-brand-text,
.navbar-brand-image {
  vertical-align: bottom;
  padding: 0px;
  margin: 0px;
  color: #fff;
}

.navbar {
  background-color: #801818;
}

.navbar .container {
  background-color: #f8f8f8;
}

.navbar-brand {
  background-color: #801818;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #fff;
}

.navbar-header > .navbar-brand:hover,
.navbar-brand:hover {
  background-color: #801818;
  color: #fff;
}

/* ----------------------------------------------- */
/* ??? styles
-------------------------------------------------- */