---
layout: default
title: FAQ
---

<div class="container">

  <div class="page-header">
    <h1>FAQ</h1>
  </div>
  
  {% for q in site.faq %}
  <div class="well">
    <p><strong><span class="glyphicon glyphicon-question-sign"></span> {{q.question}}</strong></p>
    {{q.content}}
  </div> 
  {% endfor %}
  <br>
  <hr>
  <br>
  {% for q in site.faq %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-question-sign"></span> {{q.question}}
    </div>
    <div class="panel-body">
      {{q.content}}
    </div>
  </div>
  {% endfor %}
    
  
  
</div>
