<div class="row">
  <div class="col-md-3">
    <h4>Local Game Shop</h4>
    <div class="row">
      <div class="col-xs-6 col-md-12">
        <address>
          <strong>Game HQ</strong><br>
          9118 S Western Ave, Suite B<br>
          Oklahoma City, OK 73139<br>
          (405) 691-0509<br>
          <a href="http://www.gameheadquarters.com/">gameheadquarters.com</a>
        </address>
      </div>
      <div class="col-xs-6 col-md-12">
        <a href="http://www.gameheadquarters.com/" class="img-link"><img src="{{site.github.url}}/images/gamehq.png" alt="hero forge" class="img-responsive"></a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div id="map"></div><!-- map -->
    <button class="btn btn-danger btn-block disabled" id="reset-map">Reset Map <span class="glyphicon glyphicon-map-marker"></span></button>
  </div>
</div>