<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Quando|Sarala:400,700' rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.0/fullcalendar.min.css" rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.0/fullcalendar.print.css" media="print" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{site.github.url}}/css/style.css" />
  <link rel="stylesheet" href="{{site.github.url}}/css/map.css" />
  <link rel="stylesheet" href="{{site.github.url}}/css/calendar.css" />
  <link rel="stylesheet" href="{{site.github.url}}/css/theme.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
