<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.github.url}}/">
        <span class="navbar-brand-image"></span>
        <span class="navbar-brand-text header-font">EGG</span>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if {{page.title}} contains 'Board' %}class="active"{% endif %}><a href="{{site.github.url}}/boardgames-info.html">Board Games</a></li>
        <li {% if {{page.title}} contains 'D&amp;D' %}class="active"{% endif %}><a href="{{site.github.url}}/dnd-tables.html">D&amp;D</a></li>
        <li {% if {{page.title}} contains 'Calendar' %}class="active"{% endif %}><a href="{{site.github.url}}/calendar.html">Calendar</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li {% if {{page.title}} contains 'Contact' %}class="active"{% endif %}><a href="{{site.github.url}}/contact.html">Contact</a></li>
        <li {% if {{page.title}} contains 'About' %}class="active"{% endif %}><a href="{{site.github.url}}/about.html">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>  