<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.0/fullcalendar.min.js"></script>
<script type='text/javascript' src='https://fullcalendar.io/js/fullcalendar-3.0.0/gcal.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClqptXueR8OxUDbzJj6l0DRvKLf0eQle4"></script>
<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
<script type="text/javascript" src="{{site.github.url}}/scripts/tables.js"></script>
<script type="text/javascript" src="{{site.github.url}}/scripts/script.js"></script>