---
layout: default
---

<div class="container">

  <div class="page-header">
    <h1>D&amp;D</h1>
  </div>
  
  <div class="alert alert-primary text-center" role="alert"><strong>We need more DMs for D&amp;D!</strong> Please contact <a href="{{site.github.url}}/about.html#camey" class="alert-link"> Camey</a> or <a href="{{site.github.url}}/about.html#corbin" class="alert-link"> Corbin</a> if you would like to volunteer. No experience required!</div>

  <ul class="nav nav-tabs">
     <li role="presentation" {% if {{page.title}} contains 'Tables' %}class="active"{% endif %}><a href="{{site.github.url}}/dnd-tables.html">Tables</a></li>
     <li role="presentation" {% if {{page.title}} contains 'Vault' %}class="active"{% endif %}><a href="{{site.github.url}}/dnd-vault.html">Vault</a></li>
     <!-- <li role="presentation" {% if {{page.title}} contains 'Guilds' %}class="active"{% endif %}><a href="{{site.github.url}}/dnd-guilds.html">Guilds</a></li> -->
     <li role="presentation" {% if {{page.title}} contains 'Sign Up' %}class="active"{% endif %}><a href="{{site.github.url}}/dnd-signup.html">Sign Up</a></li>
     <li role="presentation" {% if {{page.title}} contains 'Resources' %}class="active"{% endif %}><a href="{{site.github.url}}/dnd-resources.html">Resources</a></li>
  </ul>
  <br>

  <div>

   {{content}}

  </div>
  
</div>
